@import url('https://fonts.googleapis.com/css?family=Roboto:100i');

body {
     /*background: url(../images/water.gif) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: roboto;
    font-weight: bold;
    color: #000;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
	-webkit-font-smoothing: antialiased;
}

pre {
    text-align: center;
    font-family: roboto;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

}

#center {               
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#title {               
font-size: 30px;
}

#marquee {
    width: 180px;
    overflow: hidden;
    font-size: 15px;
}
#a:hover + #b {
  display: none;
}
#a:hover ~ #c {
  display: block;
}
#c: {
  display: none;
}

a:hover {
    color: transparent;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}